<div class="navbar">
    <button id="sidebar-toggle" class="btn btn-border border-t-0 border-l-0 border-b-0">
        <i class="fa-sharp fas fa-xmark"></i>
    </button>
    <a href="/" class="navbar-brand">BamBuild Panda</a>
    <div class="navbar-divider"></div>
    <a href="/" class="{{ "active" if page == "orders" }}">
        <i class="fa-sharp fas fa-house"></i>
        Orders
    </a>
    <a href="/" class="{{ "active" if page == "order-details" }}">
        <i class="fa-sharp fas fa-clipboard-list"></i>
        Order Details
    </a>
</div>