<div class="navbar">
    <button id="sidebar-toggle" class="btn btn-border border-t-0 border-l-0 border-b-0">
        <i class="fa-sharp fas fa-xmark"></i>
    </button>
    <a href="/" class="navbar-brand">BamBuild Panda</a>
    <div class="navbar-divider"></div>
    <a href="/">
        <i class="fa-sharp fas fa-house"></i>
        Home
    </a>
    <a href="/" class="active">
        <i class="fa-sharp fas fa-house"></i>
        Home
    </a>
    <a href="/">
        <i class="fa-sharp fas fa-house"></i>
        Home
    </a>
    <a href="/">
        <i class="fa-sharp fas fa-house"></i>
        Home
    </a>
    <a href="/">
        <i class="fa-sharp fas fa-house"></i>
        Home
    </a>
    <a href="/">
        <i class="fa-sharp fas fa-house"></i>
        Home
    </a>
</div>