<div id="sidebar" class="sidebar" style="min-width: 16rem;">
    <a href="/">
        <i class="fa-sharp fas fa-house"></i>
        <span>Home</span>
    </a>
    <a class="active" href="/">
        <i class="fa-sharp fas fa-house"></i>
        <span>Home</span>
    </a>
    <button class="sidebar-collapse">
        <i class="fa-sharp fas fa-house"></i>
        <span>Home</span>
    </button>
    <div>
        <a href="/">
            <span>Home</span>
        </a>
        <a class="active" href="/">
            <span>Home</span>
        </a>
    </div>
    <a href="/">
        <i class="fa-sharp fas fa-house"></i>
        <span>Home</span>
    </a>
</div>